@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0f172a; /* slate-900 */
    --foreground: #f8fafc; /* slate-50 */
    
    /* Code block colors */
    --code-bg: #1e293b; /* slate-800 */
    --code-border: #334155; /* slate-700 */
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-primary-400 to-cyan-400;
  }
}
